@keyframes btn-fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.btn {
  border: none;
  background: none;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.btn:hover::before, .btn:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: btn-fill-in;
  animation-duration: 200ms;
}

.btn-primary-black {
  background-color: #1E1E1E;
  color: #FCFCFC;
}
.btn-primary-black:hover::before {
  background-color: rgba(255, 255, 255, 0.05);
}

.btn-primary-white {
  background-color: #FCFCFC;
  color: #1E1E1E;
}
.btn-primary-white:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-primary-red {
  background-color: #9C1A1A;
  color: #FCFCFC;
}
.btn-primary-red:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-primary-blue {
  background-color: #0F233B;
  color: #FCFCFC;
}
.btn-primary-blue:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-secondary-black {
  background: transparent;
  border: 2px solid #1E1E1E;
  color: #FCFCFC;
}

.btn-secondary-white {
  background: transparent;
  border: 2px solid #FCFCFC;
  color: #1E1E1E;
}

.btn-secondary-red {
  background: transparent;
  border: 2px solid primary-red;
  color: #FCFCFC;
}

.btn-secondary-blue {
  background: transparent;
  border: 2px solid #0F233B;
  color: #0F233B;
}
.btn-secondary-blue:hover::before {
  background-color: #0F233B;
  color: #FCFCFC;
}

.text-small {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.text-normal {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.text-medium {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.text-big {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.text-bigger {
  font-size: 46px;
  line-height: 48px;
  font-weight: 600;
}

.text-huge {
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
}

body {
  overflow-x: hidden;
  background-color: #ECECEC;
}

*::-moz-selection {
  background-color: #9C1A1A;
  color: #FCFCFC;
}

*::selection {
  background-color: #9C1A1A;
  color: #FCFCFC;
}

.full-divider {
  height: 4px;
  width: 100%;
  background-color: #9C1A1A;
  margin: 4px 0 16px 0;
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.platform-link-cont {
  max-width: 512px;
  max-height: 512px;
  padding: 128px 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: #F8F8F8;
  box-shadow: -15px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-in-out;
  position: relative;
}
@media (max-width: 980px) {
  .platform-link-cont {
    max-width: 512px;
    padding: 32px 32px;
  }
}
.platform-link-cont p.text-medium {
  width: 100%;
  background-color: #0F233B;
  color: #FCFCFC;
  position: absolute;
  top: 0;
  padding: 16px;
}
.platform-link-cont img.link-img {
  max-width: 157px;
}
.platform-link-cont:hover img.device-img {
  transition: all 250ms ease-in-out;
  transform: scale(1.2);
}/*# sourceMappingURL=platform-link.css.map */