@import '../../../imports';

.contact-widget-cont {
    display: flex;
    flex-direction: column; 
    width: 256px;
    min-height: 166px;

    .widget-title {
        text-transform: uppercase;
        margin-bottom: 32px;
        color: $col-gray-400;

        .seperator {
            margin-top: 4px;
            height: 2px;
            width: 100%;
            background-color: $primary-red;
        }
    }

    ul {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $col-gray-800;

            span svg {
                margin-right: 4px;
            }

            &:not(:last-child) {
                margin-bottom: 4px;
            }

            &:hover {
                color: $col-gray-400;
            }

            &.title:hover {
                opacity: 1;
            }

            &.phonelist {
                display: flex;
                gap: 24px;
            }
        }
    }
}