@import '../../../imports';

.link-widget-cont {
    display: flex;
    flex-direction: column; 
    width: 256px;
    // this is need to accommodate the height difference because of the space between the contact items in the contact widget
    padding-bottom: 16px;

    .widget-title {
        text-transform: uppercase;
        margin-bottom: 32px;
        color: $col-gray-400;

        .seperator {
            margin-top: 4px;
            height: 2px;
            width: 100%;
            background-color: $primary-red;
        }
    }

    ul {
        li {
            color: $col-gray-800;
            &:not(:last-child) {
                margin-bottom: 4px;
            }

            &:hover {
                color: $col-gray-400;
            }
        }
    }
}