@import '../../imports';

// PreHeader
.preheader {
    background-color: $primary-red;
    color: $primary-white;

    padding: 16px 0px;

    @media (max-width: 1512px) {
        padding: 16px 16px;
    }

    @media (max-width: 1120px) {
        justify-content: space-around;
    }

    @media (max-width: 780px) {
        padding: 16px 0;
        justify-content: space-around;
    }

    &__content {
        @include flexRowCenter;
        justify-content: flex-end;
        max-width: 1460px;
        margin: 0 auto;

        @media (max-width: 780px) {
            justify-content: center;
        }
    }

    ul {
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
                margin-right: 64px;
            }

            .second-phoneno {
                @media (max-width: 780px) {
                    display: none;
                }
            }

            .space {
                margin: 0 8px;
                @media (max-width: 780px) {
                    display: none;
                }
            }

            a {
                display: flex;
                align-items: center;
                position: relative;
                color: rgba($primary-white, 0.7);

                .preheader-icon {
                    margin-right: 16px;

                    @media (max-width: 780px) {
                        margin-right: 0;
                    }
                }

                .preheader-text {
                    @media (max-width: 780px) {
                        display: none;
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------------

@keyframes underline-link{
    from { width: 0% }
    to { width: 100%; }
}

// Navbar
.navigation-cont {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: $primary-blue;
    border-bottom: 4px solid #1b3351;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1460px;

    padding: 16px 0;
    margin: 0 auto;

    @media (max-width: 1512px) {
        padding: 16px 16px;
    } 

    &.scrolled {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    // Logo Image
    .logo img {
        width: 190px;
        height: auto;

        @media (max-width: 780px) {
            width: 140px;
        }
    }

    // Links
    .nav-items {
        display: flex;
        align-items: center;
        color: $primary-white;
        padding-left: 64px;
        font-size: 16px;

        li {
            position: relative;
            
            &:not(:last-child) {
                margin-right: 64px;
            }

            &:hover:not(:last-child) {
                opacity: 0.7;
            }

            .active {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $primary-red;
                    animation: underline-link 500ms ease-in-out;
                }
            }
        }

        button {
            font-size: 16px;
        }
    }

    .mobile-nav-btn {
        display: none;
    }

    // Media Queries
    @media (max-width: 780px) {
        justify-content: center;
        position: relative;

        logo img {
            width: 120px;
            height: auto;
        }

        .nav-items {
            display: none;
        }

        .mobile-nav-btn {
            display: inline-block;
            position: absolute;
            color: rgba($primary-white, 0.7);
            top: 50;
            left: 16px;
            transition: transform 200ms ease-in-out;
            cursor: pointer;
            
            &.pressed {
                transform: rotate(90deg);
                transition: transform 300ms ease-in-out;
            }
        }
    }
}

@keyframes menu-appear {
    from { height: 0; }
    to { height: 20%; }
}

@keyframes menu-items-appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

// ---------------------------------------------------------------------
// Mobile Navigation
.mobile-nav {
    animation: menu-appear;
    animation-duration: 200ms;

    background-color: $primary-red;
    color: $primary-white;
    width: 100%;
    height: 20%;
    padding: 32px 0;
    border-bottom: 5px solid $primary-red;

    font-size: 16px;
    line-height: 24px;

    // position: absolute;

    .nav-items {
        animation: menu-items-appear;
        animation-duration: 500ms;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &.hide {
        display: none;
    }

    @media (max-width: 1120px) {
        display: block;
    }

    @media (min-width: 780px) {
        display: none;
    }
}