@import '../../imports';

.subtitle-cont {
    display: flex;
    flex-direction: column;

    .subtitle {
        background-color: $primary-red;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        color: $primary-white;
        
        padding: 32px 128px;
    
        text-align: center;
        font-size: 24px;

        @media (max-width: 660px) {
            padding: 32px 32px;
        }
    }

    .subtitle__cta {
        background-color: $col-dark-100;
        color: $primary-white;
        border: 2px solid $primary-white;
        font-size: 14px;
        
        padding: 16px 64px;
        margin-top: -16px;

        align-self: center;
        cursor: pointer;
    }
}