@import '../../imports';

.contact-cta-cont {
    background-color: $primary-red;
    width: 100vw;
    padding: 64px 64px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;

    @media (max-width: 680px) {
        padding: 64px 32px;
    }

    .contact-cta-desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;

        color: $primary-white;

        .seperator {
            height: 2px;
            width: 64px;
            background-color: $primary-blue;
        }

        .cta-btn {
            margin-top: 48px;
        }
    }
}