@import '../../imports';

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px; 
    transition: all 250ms ease-in-out;

    &:hover {
        transition: all 250ms ease-in-out;
        .circle {
            background-color: $primary-red;
            transition: all 250ms ease-in-out;
        }
    }

    .circle {
        height: 100px;
        width: 100px;
        background-color: $primary-blue;
        border-radius: 50%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        svg {
            color: white;
            height: 32px;
            width: 32px;
        }
    }

    .feature-title {
        text-align: center;
    }

    .seperator {
        width: 64px;
        height: 1px;
        background-color: $primary-blue;
    }

    .feature-desc {
        text-align: center;
        max-width: 256px;
        min-height: 100px;
    }
}