@keyframes btn-fill-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.btn {
  border: none;
  background: none;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.btn:hover::before, .btn:active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: btn-fill-in;
  animation-duration: 200ms;
}

.btn-primary-black {
  background-color: #1E1E1E;
  color: #FCFCFC;
}
.btn-primary-black:hover::before {
  background-color: rgba(255, 255, 255, 0.05);
}

.btn-primary-white {
  background-color: #FCFCFC;
  color: #1E1E1E;
}
.btn-primary-white:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-primary-red {
  background-color: #9C1A1A;
  color: #FCFCFC;
}
.btn-primary-red:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-primary-blue {
  background-color: #0F233B;
  color: #FCFCFC;
}
.btn-primary-blue:hover::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-secondary-black {
  background: transparent;
  border: 2px solid #1E1E1E;
  color: #FCFCFC;
}

.btn-secondary-white {
  background: transparent;
  border: 2px solid #FCFCFC;
  color: #1E1E1E;
}

.btn-secondary-red {
  background: transparent;
  border: 2px solid primary-red;
  color: #FCFCFC;
}

.btn-secondary-blue {
  background: transparent;
  border: 2px solid #0F233B;
  color: #0F233B;
}
.btn-secondary-blue:hover::before {
  background-color: #0F233B;
  color: #FCFCFC;
}

.text-small {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.text-normal {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.text-medium {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.text-big {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.text-bigger {
  font-size: 46px;
  line-height: 48px;
  font-weight: 600;
}

.text-huge {
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
}

body {
  overflow-x: hidden;
  background-color: #ECECEC;
}

*::-moz-selection {
  background-color: #9C1A1A;
  color: #FCFCFC;
}

*::selection {
  background-color: #9C1A1A;
  color: #FCFCFC;
}

.full-divider {
  height: 4px;
  width: 100%;
  background-color: #9C1A1A;
  margin: 4px 0 16px 0;
}

.landing-page {
  margin: 0 auto;
  max-width: 1288px;
}
@media (max-width: 1512px) {
  .landing-page {
    padding: 0 32px;
  }
}
@media (max-width: 512px) {
  .landing-page {
    padding: 0 16px;
  }
}

.hero-banner-cont {
  width: 100%;
  max-width: 1920px;
  max-height: 624px;
  margin: 0 auto;
  margin-bottom: 64px;
  position: relative;
  z-index: 1;
}
.hero-banner-cont img {
  width: 100%;
  max-height: 624px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-banner-cont img.mob {
  display: none;
}
.hero-banner-cont .product-page-hero {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}
.hero-banner-cont .product-page-hero__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  color: #252525;
}
@media (max-width: 820px) {
  .hero-banner-cont .product-page-hero__title {
    font-size: 24px;
    padding: 0 16px;
    text-align: center;
  }
}
@media (max-width: 820px) {
  .hero-banner-cont .product-page-hero {
    top: 64px;
  }
  .hero-banner-cont .product-page-hero a {
    display: none;
  }
}
@media (max-width: 780px) {
  .hero-banner-cont {
    max-height: 624px;
  }
  .hero-banner-cont img.desk {
    display: none;
  }
  .hero-banner-cont img.mob {
    display: block;
  }
}/*# sourceMappingURL=Banner.css.map */