// Primary Colors
$primary-black: #1E1E1E;
$primary-white: #FCFCFC;
$primary-blue: #0F233B;
$primary-red: #9C1A1A;

// Light Colors
$lightblue: #23324b;

$col-gray-100: #F8F8F8;
$col-gray-200: #ECECEC;
$col-gray-400: #D6D6D6;
$col-gray-800: #9F9F9F;

// Dark Colors
$col-dark-100: #464646;
$col-dark-200: #252525;