@import './buttons';
@import './colors';
@import './typography';

body {
    overflow-x: hidden;
    background-color: $col-gray-200;
}

*::selection {
    background-color: $primary-red;
    color: $primary-white;
}

.full-divider {
    height: 4px;
    width: 100%;
    background-color: $primary-red;
    margin: 4px 0 16px 0;
}
