@import '../../imports';

@keyframes move-up {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down {
    to {
        transform: translateY(10px);
    }
}

.card-cont {
    background-color: $col-gray-200;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;

    padding: 128px 64px;

    @media (max-width: 1280px) {
        padding: 64px 32px;
        gap: 16px;
    }

    @media (max-width: 980px) {
        flex-wrap: wrap;
        padding: 64px 16px;
    }
}

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $primary-white;

    padding: 128px 64px;

    @media (max-width: 1280px) {
        padding: 64px 32px;
    }

    p.text-bigger {
        margin-bottom: 16px;
    }

    .title-underline {
        height: 2px;
        width: 64px;
        background-color: $primary-red;
        margin-bottom: 32px;
    }

    .features-desc {
        margin-bottom: 64px;

        p {
            text-align: center;
        }
    }

    .features-cont {
        display: flex;
        flex-direction: row;
        gap: 64px;

        @media (max-width: 680px) {
            gap: 64px;
        }

        .feature-row {
            display: flex;
            gap: 64px;

            @media (max-width: 680px) {
                gap: 64px;
                flex-direction: column;
            }
        }
    
        @media (max-width: 980px) {
            flex-direction: column;
        }
    }
}