@import '../../imports';

.slick-slider {
    background-color: $col-gray-400;
}

.slick-track {
    padding: 64px 64px;
    background-color: $col-gray-400;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) {
        gap: 0;
        padding: 32px 0px;
    }
}

.slick-slide {
    margin: 0 16px;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
    display: none;
}

.slick-dots {
    display: none!important;
}